::-webkit-scrollbar {
    display: none;
}
html {
 -ms-overflow-style: none; 
  scrollbar-width: none; 
}

@media (min-width:1100px) {
    #gstarted{
        margin-left:16px;
        float: left!important;
    }
    #cexample{
        margin-right:16px;
        float: right!important;
    }
}

@media (max-width:1099px){
    #topcontent{
        width:100%;
        text-align: center!important;
    }
    #gstarted{
        margin:auto;
        width:70%;
        float: none!important;
    }
    #cexample{
        margin:auto;
        width:70%;
        float: none!important;
    }
}

@media (max-width:800px){
    #menubar > .menu {
        display:none;
    }

    #menubar > .menuselect {
        float: right!important;
        display:block!important;
    }

    #gstarted{
        width:90%;
    }
    #cexample{
        width:90%;
    }
}

@media (max-width:500px) {
    #menubar > .download{
        display:none;
    }

    #gstarted{
        width:100%;
    }
    #cexample{
        width:100%;
    }

    #sidebar > .download{
        display:block!important;
    }
}